data/*
!data/.gitkeep

!data/dataset/
!data/dataset/.gitkeep

!data/dataset_faces/
!data/dataset_faces/.gitkeep

data/dataset/*
data/dataset_faces/*

experiments/*
!experiments/.gitkeep

resultados/*.pt
resultados/**/*.pt
*.pt

checkpoints/*
!checkpoints/.gitkeep

reports/*
!reports/.gitkeep

configs/*
!configs/.gitkeep

venv/
.vscode/*

__pycache__/
*.pyc