data/*
!data/.gitkeep
!data/dataset/.gitkeep
!data/dataset_faces/.gitkeep

experiments/*

resultados/*.pt
resultados/**/*.pt
*.pt

checkpoints/*
reports/*

configs/*
venv/
.vscode/*

__pycache__/
*.pyc