data/*
!data/.gitkeep
!data/dataset/.gitkeep
!data/dataset_faces/.gitkeep

resultados/*
!resultados/.gitkeep
!resultados/cnn_baseline/.gitkeep
!resultados/mesonet/.gitkeep

*.pt

venv/

__pycache__/
*.pyc